<div class = "col-lg-8">
  <h1>Editing Review</h1>

  <%= render 'form', review: @review %><br>

  <%= link_to 'Show', movie_review_path(@movie, @review), class: "btn btn-success" %> |
  <%= link_to 'Back', movie_reviews_path(@movie), class: "btn btn-success" %>
</div>